services:
  postgres:
    image: postgres:16-alpine
    container_name: postgres
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: mattertui
      POSTGRES_PASSWORD: mattertui123
      POSTGRES_DB: mattertui-dev
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
